# Ignorar el entorno virtual
venv/

# Archivos de configuración específicos de entorno
.env
*.env

# Archivos compilados de Python
*.pyc
__pycache__/

# Archivos de log
*.log

# Directorios de distribución
dist/
build/
